/*
Modelo de caixa
*/

/*

.conteudo {
    border: 1px solid red;
    
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding: 20px 15px 10px 5px;
    
    width: 300px;
    padding: 20px;
    margin: 20px;
    
}
*/

/*  BARRA DE NEVEGAÇÃO VERTICAL */

/* lista customizada */

/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px 20px;
    background: url(./imagens/seta.png) no-repeat left center;

}
*/

/* APLICAÇÃO REAL */

/*
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul a {

    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url("./imagens/menu.png") no-repeat left bottom;
}

a:hover {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a {
    background-position: right bottom;
    background-color: #f99200;
    color: #fff;
}

*/

/* BARRA DE NAVEGAÇÃO HORIZONTAL */

/*
ul {
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 720px;
    background: #159cb0 url(./imagens/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    
    float: left;
}

ul a {

    display: block;
    padding: 0 2em;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url(./imagens/divisor.png) repeat-y left top;
}

ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a {
    color: #085662;
    background: #44cade;
}
*/

/*
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 720px;
}

ul li {

    float: left;
    background: url(./imagens/aba-direita.png) no-repeat top right;
}

li a {
    display: block;
    padding: 0 2em;
    line-height: 3em;
    text-decoration: none;
    background: url(./imagens/aba-esquerda.png) no-repeat;
    color: #fff;
}

ul a:hover {
    color: #894a1f;
}

ul #atual {
    background: url(./imagens/aba-direita-atual.png) no-repeat top right;
}

ul #atual a {
    background: url(./imagens/aba-esquerda-atual.png) no-repeat;
}

*/


